{% extends 'base.html' %}
{% load static %}

{% block content %}
    
    <h2>This is the about page</h2>
    <img src="{% static 'images/pexels-tatiana-fet-420381-1105766.jpg ' %}" alt="" width="350" height="350">
    <p>This is the Home page</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem error explicabo omnis quia? Adipisci animi deserunt eos exercitationem expedita hic quaerat repudiandae sunt tenetur voluptatibus! Inventore nemo nostrum qua
        erat repudiandae.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at dolores dolorum excepturi fuga in ipsum itaque laborum modi neque obcaecati, officiis optio perspiciatis quis quod repudiandae tenetur 
        veritatis voluptates!</p>
    

    
    
    
    
{% endblock content %}