{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>This is the contuct us page</h1>
    <img src="{% static 'images/pexels-romulo-queiroz-424988940-16594725.jpg' %}" alt="" width="100%" height="350">
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque dolores ex, fugiat fugit libero magni necessitatibus nemo nihil nulla, optio placeat quam quidem quos saepe totam ullam unde vitae?</span><span>Aliquid asperiores autem cum dicta facilis? Cum distinctio et eum explicabo laborum natus nihil quis ratione recusandae tenetur? Accusamus adipisci blanditiis cupiditate, dolorum hic iste magni maiores mollitia provident ullam!</span><span>Consequuntur dicta dolor expedita maxime mollitia nisi officia optio possimus, repellat tempora temporibus tenetur unde veniam. Ab asperiores et eveniet explicabo illum labore nemo quos sint tenetur voluptate? Deleniti, molestiae.</span><span>Dignissimos doloribus eligendi, enim exercitationem expedita impedit, ipsum minima molestiae nemo nesciunt nobis pariatur perspiciatis placeat quam sunt vel veniam voluptatum? Adipisci alias distinctio dolor in placea
    t quibusdam rem vel.</span></p>

    
    
{% endblock content %}