{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>This is the first page</h1>
    <img src="{% static 'images/finance-8045002_640.jpg' %}" alt="" width="100%" height="350">
    <p>This is the Home page</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem error explicabo omnis quia? Adipisci animi deserunt eos exercitationem expedita hic quaerat repudiandae sunt tenetur voluptatibus! Inventore nemo nostrum qua
        erat repudiandae.</p>
    
    
    
    
    
{% endblock content %}